<mat-card>
  <mat-card-content>
    <form [formGroup]="form">
      <h2>SignUp</h2>

      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email" />

        @if (form.get('username')?.hasError('required')) {
        <mat-error> Please provide a valid email address </mat-error>
        }
      </mat-form-field>
      <mat-form-field style="position: relative">
        <input
          matInput
          [type]="show ? 'text' : 'password'"
          placeholder="Password"
          formControlName="password"
        />

        <mat-icon matSuffix (click)="show = !show">
          {{ !show ? 'visibility' : 'visibility_off' }}
        </mat-icon>

        @if (form.get('password')?.hasError('required')) {
        <mat-error> Please provide a valid password </mat-error>
        } @else if (form.get('password')?.hasError('pattern')) {
        <mat-error> Please provide a valid format </mat-error>
        }
      </mat-form-field>
      <app-shared-button
        [label]="'SignUp'"
        (buttonClick)="submit()"
        [isDisabled]="!form.valid"
      >
      </app-shared-button>
    </form>
    <mat-divider></mat-divider>

    <div>
      <app-shared-button [label]="'Login'" (buttonClick)="login()">
      </app-shared-button>
    </div>
  </mat-card-content>
</mat-card>
